<% if(locals.errorMessage != null) { %>
    <%= locals.errorMessage %>
<% } %>

<form method="POST" action="/authors/<%=id%>?_method=PUT">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" id="name" value="<%= name %>"/>
        </div>
    </div>
    <div class="btn-row form-row-end">
        <a class="btn btn-danger" href="/authors/<%=id%>">Cancel</a>
        <button class="btn btn-primary" type="submit" >Update</button>
    </div>
    
</form>