<form method="GET" action="/authors/search">
    <label>Name</label>
    <input type="text" name="name" id="name" />
    <button type="button" >Cancel</button>
    <button type="submit" >Save</button>
</form>