<h3 class="page-header">View Author</h3>

<h2><%=name%></h2>

<div class="btn-row">
<a  class="btn btn-primary" href="/authors/<%=id%>/edit">Update</a>          
 <form action="/authors/<%=id%>?_method=DELETE"   method="POST" >
    <button class="btn btn-danger" type="submit"> Delete </button>
</form>
</div>


<div>
    <h4 class="page-header">Books by Author </h4>
    <%- include('../partials/bookgrid.ejs', { 'books': books}) %>
</div>