<h3 class="page-header">Book Search</h3>

<% if(locals.errorMessage != null) { %>
    <h2><%= errorMessage %></h2>
<% } %> 
<form action="/books"  method="GET">
    <div class="form-row">
        <div class="form-item">
            <label> Title</label>
            <input type="text" name="title"  />
        </div>
        <div class="form-item">
            <label>Published Before</label>
            <input type="date" name="publishedBefore" />        
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Published After</label>
            <input type="date" name="publishedAfter" />        
        </div>
    </div>
    <div class="form-row btn-row form-row-end" >
        <button class="btn btn-primary" type="submit"> Search </button>
    </div>
</form>

<div>
    <%- include('../partials/bookgrid.ejs', { 'books': books}) %>
 </div>